<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>689950177092-rv71c8frae5ouaefcle6o3cjbce4ucnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689950177092-rv71c8frae5ouaefcle6o3cjbce4ucnq</string>
	<key>API_KEY</key>
	<string>AIzaSyDl9i17ZVW1uouujBkqFIJFarjGGyGluZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>689950177092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ac.account</string>
	<key>PROJECT_ID</key>
	<string>account-1547796944428</string>
	<key>STORAGE_BUCKET</key>
	<string>account-1547796944428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689950177092:ios:80e8bc2219ae0295</string>
	<key>DATABASE_URL</key>
	<string>https://account-1547796944428.firebaseio.com</string>
</dict>
</plist>